* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to bottom,
        #009988 0,
        #009988 130px,
        #dadbd2 130px,
        #dadbd2 100%
    );
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

i.fas, i.far {
    color: #b1b1b1;
    transition: color .1s;
    cursor: pointer;
    margin: 0 7px;
}

i.fas:hover, i.far:hover {
    color: #000;
}

h2 {
    font-size: 14px;
    font-weight: 400;
}

img {
    width: 50px;
    border-radius: 50%;
}

.container {
    min-width: 900px;
    width: 90%;
    height: 95%;
    background-color: #fff;
    display: flex;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

/* SIDEBAR */

.sidebar {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
}

/* Header */
.header-content {
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

/* Profile */
.profile {
    display: flex;
    align-items: center;
}

.profile img {
    margin-right: 10px;
}

/* Notifications */
.notifications {
    background-color: #74dcff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.notifications .fa-bell-slash {
    color: #74dcff;
    padding: 15px 13px;
    background-color: #f0fbff;
    border-radius: 50%;
    font-size: 16px;
}

.notifications span {
    font-size: 13px;
    display: block;
    font-weight: 500;
}

.notifications small {
    text-decoration: underline;
    cursor: pointer;
    font-size: 10px;
    color: #437587;
}

/* Search */
.search {
    background-color: #f7f7f7;
    padding: 5px;
    position: relative;
}

.search .fa-search {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.search .search-conversation {
    width: 100%;
    line-height: 15px;
    border: 0;
    padding: 5px 5px 5px 70px;
    font-size: 10px;
    color: #979797;
    font-weight: 500;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

/* Conversations-list */
.conversation-list {
    flex-grow: 1;
    overflow-y: auto;
}

.conversation-list ul {
    list-style: none;
}

.conversation-list li {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(238, 238, 238);
    cursor: pointer;
    position: relative;
}

.conversation-list li:hover i {
    opacity: 1;
    right: 10px;
}

i.fas.fa-angle-down {
    right: 0;
    position: absolute;
    top: 10px;
    opacity: 0;
    transition: opacity .2s;
    transition: right .2s;
}

.conversation-list li:hover {
    background:rgb(238, 238, 238);
}

.conversation-list li.active {
    background:rgb(238, 238, 238);
}

.conversation-list img {
    margin-right: 10px;
}

/* MAIN */

.main-content {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
}

/* Contact */
.contact {
    display: flex;
    align-items: center;
}

.contact img {
    margin-right: 10px;
}

.contact .user span {
    font-size: 12px;
    color: #697376;
}

/* Conversation */
.conversation {
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px 30px 0 30px;
    z-index: 1;
}

.conversation::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url(../img/mine.jpg);
    background-size: auto;
    z-index: -1;
}

ul.conversation {
    display: flex;
    flex-direction: column;
    list-style: none;
}

ul.conversation li .message {
    position: relative;
    min-width: 300px;
    background: #fff;
    display: inline-block;
    padding: 12px;
    text-align: left;
    margin: 5px 0;
    border-radius: 12px;
    line-height: 2;
}

ul.conversation li .message:hover i {
    opacity: 1;
    right: 10px;
}

ul.conversation li .message .date {
    position: absolute;
    bottom: 1px;
    right: 5px;
    font-size: 8px;
    color: #697376;
}

ul.conversation li.sent {
    align-self: flex-end;
}

ul.conversation li.sent .message {
    background: #cbfbb3;
}

/* Footer */
.footer-content {
    padding: 5px 20px;
    background-color: #f4eeea;
    display: flex;
    align-items: center;
}

.footer-content .text-message {
    flex-grow: 1;
}

.footer-content i {
    color: #697376;
}

.footer-content .text-message {
    border: 0;
    line-height: 40px;
    border-radius: 5px;
    margin: 0 20px;
    padding: 0 20px;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
        height: 100%;
    }
}

/* DARK MODE */

#app.dark {
    background: #090e11;
    color: #fff;
}

#app.dark i.fas, i.far {
    color: #b1b3b5;
}


/* Header */
#app.dark .header-content {
    background-color: #2a2f32;
}


/* Notifications */
#app.dark .notifications {
    background-color: #085373;
}

#app.dark .notifications .fa-bell-slash {
    color: #085373;
    background-color: #8eb2be;
}

#app.dark .notifications small {
    color: #437587;
}

/* Search */
#app.dark .search {
    background-color: #131c21;
}

#app.dark .search .search-conversation {
    background:#323739;
}

/* Conversations-list */
#app.dark .conversation-list {
    background:#131c21;
}

#app.dark .conversation-list li {
    background: #131c21;
    border-bottom: 1px solid rgba(238, 238, 238, .2);
}

#app.dark .conversation-list li:hover {
    background:#323739;
}

#app.dark .conversation-list li.active {
    background:#323739;
}

/* MAIN */

/* Contact */
#app.dark .contact .user span {
    font-size: 12px;
    color: #e1e1e3;
}

/* Conversation */
#app.dark .conversation::before {
    filter: invert(100%);
}

#app.dark ul.conversation li .message {
    background: #262d31;
}

#app.dark ul.conversation li .message:hover i {
    opacity: 1;
    right: 10px;
}

#app.dark ul.conversation li .message .date {
    color: #697376;
}

#app.dark ul.conversation li.sent .message {
    background: #054740;
}

/* Footer */
#app.dark .footer-content {
    background-color: #1e2428;
}

#app.dark .footer-content input {
    background: #323739;
    color: #fff;
}